.login-wrapper{
    width: 40%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-wrapper{
    width: 50%;
}

@media screen and (max-width: 768px) {
    .login-wrapper, .form-wrapper{
        width: 90%;
        position: relative;
        margin: auto;
    }

    .login-wrapper{
        padding: 0.5rem;
    }
}